[flake8]
max-line-length = 79
extend-ignore = E203, W503
per-file-ignores =
    env_manager/**/hook_cmd.py: E501
    env_manager/adapters/asdf/__init__.py: E501
    env_manager/cli/commands/versions_cmd.py: E501

exclude =
    .git,
    .venv,
    __pycache__,
    .mypy_cache,
    .pytest_cache,
    .ruff_cache,
    build,
    dist,
    *.egg-info,
